body {
  width: 100%;
  height: 100vh;
  /* Using the margin: 0 property/value pair will get rid of the horizontal scroll bar (see below line)*/
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: monospace;
  font-size: 16px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto; /* to center form element */
  min-width: 300px;
  max-width: 500px;
  width: 60vw;
  padding: 0 0 2em 0;
}

fieldset {
  border: none; /* removes default border of fieldset element (box) */
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f; /* adds a bottom border (straight line) that you can then style */
}

fieldset:last-of-type {
  border-bottom: none;
}

input,
textarea,
select {
  width: 100%;
  margin: 10px 0 0;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset; /* removes the earlier rule which set all inputs to width: 100% */
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input[type="submit"] {
  /* targets every input element who's type attribute value is 'submit' - aka will only select the submit button */
  display: block;
  width: 60%;
  margin: 1em auto; /* centers submit button */
  font-size: 1.1rem;
  height: 2em;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px; /* targets the input 'file' type and adds more padding to the default that the browser automatically adds */
}
